{% extends 'inventory/base.html' %}
{% block content %}

<h1>Recipes</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Menu Item</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Quantity</th>

        </tr>
    </thead>
    <tbody>
        
    </tbody>
    {% for item in object_list %}
    
    <tr>
        <td class="me-3">{{ item.menu_item.name}}</td>
        <td class="me-3">{{ item.ingredient.name }}</td>
        <td class="me-3">{{ item.quantity }}</td>

    </tr>
    {% endfor %}

</table>

<button type="primary" class="btn btn-link"><a href="{% url 'update_recipe' %}">Update Recipe</a></button>
    


{% endblock %}